
body{
    background-color: #181419;
    color:white; 
     /* scrollbar-color: #9f3647  #181419; /*nuevo
     scrollbar-width: thin;*/
}
.fondo_nav{
    background-color: #a83242;
}

.hrColor{
    color: #a83242;
}
.main{
    .sectionPrincipal{
        color:white;
        background:linear-gradient(to right top, #0000008a, #0000008a), url(../img/banner_bg.jpg);
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .tituloPrincipal{
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .subtituloPrincipal{
            font-size: 2.2rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        .botonRegistrarse{
            background-color:#9f3647;
            color: #ffffff;
            padding: 1rem 2rem;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
             /* Agregar efecto de botón presionado */
             transition: transform 0.3s, box-shadow 0.3s;
             &:hover {
                 background-color: #9f3647;
                 transform: scale(0.95);
                 box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
             }
        }
    }}

    .buscadorPrincipal{
        background-color: #181419;
        color:whte;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .buscadorPeliculas{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            .inputBuscador{
                border: 2px solid white;
                border-radius: 25px;
                color:black;
                font-size: 1.2rem;
                height: 50px;
                margin: 20px 0px;
                outline: none;
                padding: 0px 20px;
                width: 500px;
            }
            .botonBuscador{
                background-color:#9f3647;
                display: inline-block;
                color:#ffffff;
                height: 50px;
                margin: 20px 10px;
                padding:0 20px;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 700;
                border: 2px solid white;
                text-align: center;
                 /* Agregar efecto de botón presionado */
                 transition: transform 0.3s, box-shadow 0.3s;
                 &:hover {
                     background-color: #9f3647;
                     transform: scale(0.95);
                     box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                 }
            }
        }
       
    }

    .peliculasTendencia{
        width:80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }}

 
.contenedor-tarjetas{
display: flex;
flex-direction: row;
overflow-x: auto;
width: 100%;
}
.card {
    flex: 0 0 10rem; 
    margin: 10px; 
  }

  .footer{
    background-color:#a83242;
    color:#ffffff;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .listaNav{
        list-style: none;
        display: flex;
        align-items: center;
        .listaItem{
            margin-left:20px;
            .linkNav{
                text-decoration: none;
                color:#ffffff;
                font-weight: 700;
                font-size: 1.2rem;
            }
        }
    }
    .flechaArriba{
        position: fixed;
        bottom: 20px;
        right: 20px;
        color: white;
        cursor: pointer;
    }
}

.bodyRegistro{
    background-color: #9f3647;
}
.registro-text{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.form-registro{
    text-align: center;
    background-color: #333333;
    width: 32%;
     padding:80px;
     margin-left: 35%;
     border-radius: 5%;
     border: solid;

}
    .boton{
        width: 30%;
        box-sizing: content-box;
        background-color:#9f3647;
        border: 2px solid #9f3647;
        color: #ffffff;
        padding: 1rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
       
    }
    .boton2{
        width: 35%;
        box-sizing: content-box;
        background-color:#9f3647;
        border: 2px solid #9f3647;
        color: #ffffff;
        padding: 1rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
       
    }

    .input{
        border-radius: 20px;
        border: 2px solid #9f3647;
        background-color: #333333;
        outline: none;
        color:white;
        margin: 5%;
    }
    .linkRegistro{
        text-decoration: none;
        color: aquamarine;
    }